* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #F8F1F1;
}
nav {
    background-color: #11698E;
    width: 100%;
    height: 101px;
    float: right;
    position: static;

}

/* aqui damos algunos indicaciones al Navbar  */

nav ul {
    float: right;
    display: flex;
}

nav ul li {
    float: right;
    list-style: none;
    position: relative;
    align-self: center;
}

/* Parte esencial para el funcionamiento del logo */


.logo-menu {

    width: 200px;
    align-self: center;
    margin: 10px 20px ;
    border: 2px;
    border-radius: 20px;
  
}

.Submenu a{

    color: #F8F1F1;
    padding-left: 10px;
}


/* aqui ya damos los estilos que tiene */

nav ul li a {
    display: block;
    padding: 0px 40px;
    line-height: 101px;
    font-family: 'Times New Roman';
    color: #F8F1F1;
    font-size: 20px;
    text-decoration: none;
}



nav ul li ul {
    display: none;
    position: absolute;
    background-color: #19456B;
   
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li a {
    padding: 16px 32px;
    line-height: unset;
    white-space: nowrap;
}

/* Hovers de la pagina */

nav ul li:hover ul { 
    display: block;
    top: 100px;
    width: 180px;

}

nav ul li a:hover{
    background-color: #fff;
    color: #19456B;
    transition:  .5s;

}

nav ul li ul li a:hover {
    color: #19456B;
    transition:  .9s;
    background-color: #F8F1F1;
    }

/* Fotos */


.LogoGeneal {
    margin-left: 7%;
    width: 175px;
    margin-top: 8%;
}

.titulo {
    margin-left: 21%;
    margin-top: -14%;
    font-size: 20px;
    color: #19456B;
    
}


.Info {

    width: 35%;
    margin-left: 21%;
    margin-top: 2%;
    font-size: 20px;
    
}

.linea {
    width: 50%;
    margin-left: 9%;
    padding: 1%;
}


.titulo2 {
    margin-left: 9.5%;
    font-size: 15x;
    color: #000000;



}

.Info2 {
    width: 25%;
    margin-left: 9%;
    font-size: 20px;
    padding: 9px;
}

.Info2 i {
    font-size: 30px;
    margin-left: -12%;
    color: #000000;
    float: left;

}


.slider{
    width: 25%;
    margin: auto;
    overflow: hidden;
    background-color:#19456B;
    margin-left: 70%;
    margin-top: -34%;
    margin-bottom: 15%;
    border-color: #19456B;
    border-style: double;

}

.slider ul{
    display: flex;
    padding: 0%;
    width: 300%;
    height: 100%;

    animation:  cambio 19s infinite;

}

.slider li{
    width: 100%;
    list-style: none;
}

.slide img{
    width: 0;
}

@keyframes cambio{
    0% { margin-left: 0%;}
    20% {margin-left: 0%;}

    25% { margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
}


 /* Aqui esta el estilo del footer */

 footer{
    width: 100%;
    background: #11698E;
    color: #F8F1F1 ;  
    font-family:  Arial, Helvetica, sans-serif; 
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: 0px 100px;
    padding: 40px;
}

.container-body{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

/* Estilos del formulario */
.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    
}

.footer-txt{

    padding-bottom: 15px;
}

.se-comentario  input[type="submit"]{
    display:block;
    width: 100px;
    margin: 5px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #19456B;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    
}

.se-comentario  input[type="text"], .se-comentario  input[type="email"],.se-comentario textarea{
    width: 305px;
    margin: 5px 0;
    padding: 7px 25px;
    background: none;
    border-radius: 5px;
    color: #F8F1F1;
    border: 2px solid #19456B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.se-comentario  input::placeholder{

color: #F8F1F1;

}

.se-comentario textarea::placeholder{

    color: #F8F1F1;
    
    }

.bton{
    display: flex;
    justify-content: right;
 }

 .bton input:hover{

    background: #19456B;
    color: #16C79A;
 }


 textarea{

    resize: none;
 }

/* Estilos Generales del footer */

/* Columna 1 de "Deja un comentario" */

.Columnas-1{
    max-width: 400px;
}

.Columnas-1 h1{
    font-size: 22px;
}

.Columnas-1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}


/* Columna 2 de "Redes Sociales" */

.Columnas-2{
    max-width: 400px;
    
}

.Columnas-2 h1{
    font-size: 22px;
}

/* Fila de la columna de "Redes Sociales" */

.fila-Redes{
    margin-top: 20px;
    display: flex;
}

.fila-Redes img{
    width: 36px;
    height: 36px;
}

.fila-Redes label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

/* Columna 3 de "Informacion Contactos" */

.Columna-3{
    max-width: 400px;
}

.Columna-3 h1{
    font-size: 22px;
}



/* Fila de columnas de "Informacion Contactos" */

.fila-contacto{
    margin-top: 20px;
    display: flex;
}

.fila-contacto img{
    width: 36px;
    height: 36px;
}

.fila-contacto label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}


/* Derechos Reservados estilos */

.caja-footer{
    width: 100%;  
    background: #16C79A;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.caja-copyright{
    color: #F8F1F1;
}

.copyright a{
    text-decoration: none;
    color:#F8F1F1;
    font-weight: bold;
}

.Ancla i{
    font-size: 45px;
    margin-left: 96%;
    color: #fff;
}

:root {
    scroll-behavior: smooth;
}